apiVersion: apps/v1
kind: Deployment
metadata:
  name: internal-proxy-deployment
  namespace: default
  labels:
    app: internal-proxy
spec:
  selector:
    matchLabels:
      app: internal-proxy
  template:
    metadata:
      labels:
        app: internal-proxy
    spec:
      containers:
        - name: internal-api
          image: madhuakula/k8s-goat-internal-api
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
        - name: info-app
          image: madhuakula/k8s-goat-info-app
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: internal-proxy-api-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: internal-proxy
  ports:
    - name: api-port
      protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30006 # 固定对应宿主机 1236
---
# Health Check 关卡配置 (对应 1231)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: health-check-deployment
spec:
  selector:
    matchLabels:
      app: health-check
  template:
    metadata:
      labels:
        app: health-check
    spec:
      containers:
        - name: health-check
          image: madhuakula/k8s-goat-health-check
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /var/run/cri-dockerd.sock
              name: docker-sock-volume
      volumes:
        - name: docker-sock-volume
          hostPath:
            path: /var/run/cri-dockerd.sock
            type: Socket
---
apiVersion: v1
kind: Service
metadata:
  name: health-check-service
spec:
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30002 # 匹配宿主机 1231
  selector:
    app: health-check
